@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&family=Lexend+Deca:wght@300;400&display=swap');

body {
    overflow: hidden;
}
.logo {
    width: 60px;
    position: relative;
    top: 10px;
    left: 10px;
}
.logo-text {
    font-family: 'Open Sans' , sans-serif;
    display: none;
}
.nav {
    text-decoration: none;
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 15px;
}
.active-nav {
    text-decoration: none;
    color: #fdc733;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
}
.topnav-container {
    display: flex;
    gap: 20px;
    position: relative;
    float: right;
    top: 30px;
    right: 10px;
}
.mockup {
    width: 300px;
    display: block;
    border-radius: 40px;
}

.btn-container {
    display: flex;
    gap: 20px;
    position: relative;
    top: 100px;
    left: 0%;
    max-width: 420px;
    height:35%;
}
conteneur-main {
    display: flex;
    flex-direction: row;
    align-items: center;
}

conteneur-de-droit{
    display:block;
    width:45%;
}


conteneur-de-gauche{
    display: flex;
    flex-direction: column;
    width:55%;
    margin-left: 15%;
}
.title {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    text-align: left;
    position: relative;
    top: 50px;
    font-size: 60px;
    text-align: none;
    left: 0%;
    top: 100px;



}
.caption {
    margin-top:45px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    position: relative;
    top: 30px;
    text-align: left;
    color: rgb(92, 91, 91);
    font-size: 25px;
    position: relative;
    text-align: left;
    left: 0%;
    color: grey;



}
.btn-1 {
    background: #fdc733;
    color: black;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    display: block;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 700;
    font-size: 25px;
    cursor: pointer;
    transition: background .1s;
}
.btn-2 {
    background: #fdc733;
    color: black;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    display: block;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 25px;
    cursor: pointer;
    transition: background .1s;
}
@media only screen and (max-width: 768px) {
    .mockup {
        width: 200px;
        display: block;
        margin: auto;
        position: relative;
        top: 50px;
        border-radius: 40px;
    }
    conteneur-main {

        flex-direction: column-reverse;
    }
    
    conteneur-de-gauche{
        margin-left:15%;
    }



    .title {
        font-size: 60px;
        position: relative;
        text-align: none;
        left: 0%;
        top: 100px;
    }
    .caption {
        font-size: 25px;
        position: relative;
        text-align: left;
        top: 80px;
        left: 0%;
        color: grey;
    } 
    .btn-1 {
        background: #fdc733;
        color: black;
        border: none;
        border-radius: 5px;
        width: 200px;
        height: 40px;
        display: block;
        font-family: 'Lexend Deca', sans-serif;
        font-weight: 700;
        font-size: 25px;
        cursor: pointer;
        transition: background .1s;
    }
    .btn-2 {
        background: #fdc733;
        color: black;
        border: none;
        border-radius: 5px;
        width: 200px;
        height: 40px;
        display: block;
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        font-size: 25px;
        cursor: pointer;
        transition: background .1s;
    }
    button:hover {
        background: #fcdb81;
    }
    .nav:hover {
        color: #fcdb81;
    }
    .active-nav:hover {
        color: #fcdb81;
    }
    .btn-container {
        display: flex;
        gap: 20px;
        position: relative;
        top: 100px;
        left: 0%;
        max-width: 420px;
    }
  }

